# Directories for jar/unused test directory
target
src/test

# Files used for unlocking gpg key for commit signing
unlock.sh
unlock.txt
unlock.txt.gpg

# Program data files
chain.dat
tx-pool.dat
keyring.dat
PRIVATE_KEY
THC_PRIVATE_KEY
addressBook.dat

# Config file
thc.conf

# User-specific stuff:
.idea/workspace.xml
