# Directories for jar/unused test directory
target
src/test

# Files used for unlocking gpg key for commit signing
unlock.sh
unlock.txt
unlock.txt.gpg

# Program data files
data

# Config file
config/config.properties

# User-specific stuff:
.idea/workspace.xml
